.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--main-pink-color);
  padding: 15px 40px;
  box-shadow: 0 6px 8px rgba(162, 102, 123, 0.4);
  margin-bottom: 40px;
}

.header-title {
  color: white;
}

.header-repo-title {
  display: flex;
  justify-content: flex-end;
  color: var(--secondary-blue-color);
  align-items: center;
}

.header-navbar {
  position: relative;
  padding: 20px 0 0 0;
  max-width: 85rem;
  margin: auto;
  width: 90%;
}

.header-close-icon {
  position: absolute;
  top: -15px;
  right: -40px;
  height: 20px;
  width: 20px;
  opacity: 0.5;
  cursor: pointer;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .header-close-icon {
    top: -15px;
    right: -20px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-title {
    font-size: 23px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header-title {
    font-size: 23px;
  }
  .header-repo-title {
    font-size: 13px;
  }
  .header-close-icon {
    top: -15px;
    right: -20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 586px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    background: var(--main-pink-color);
    grid-gap: 15px;
    padding: 15px 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
  }

  .header-repo-title {
    display: flex;
    justify-content: center;
    font-size: 10px;
  }

  .header-title {
    color: white;
    text-align: center;
  }

  .header-close-icon {
    top: -15px;
    right: -15px;
  }
}
